@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap");

.FightScene-container {
    position: absolute;
    font-family: "Roboto Mono", monospace;
    color: white;
    padding: 0px 80px;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    width: calc(100vw - 160px);
    top: 100px;
    background-color: rgb(57, 57, 57);
}

.FightScene-column {
    float: left;
    margin: 10px 20px 10px 20px;
    width: 42vw;
    font-weight: 200;
    font-size: 24px;
}

.FightScene-image {
    position: absolute;
    left: 70px;
    width: 700px;
    height: calc((700/556) * 417)px;
}

.FightScene-oppImage {
    position: absolute;
    right: 70px;
    width: 700px;
    height: calc((700/556) * 417)px;
    transform: scaleX(-1);
}

.FightScene-avatar {
    z-index: 20;
}

.FightScene-helmet {
    z-index: 23;
}

.FightScene-sword {
    z-index: 24;
}

.FightScene-shield {
    z-index: 25;
}

.FightScene-armor {
    z-index: 22;
}

.FightScene-boots {
    z-index: 21;
}