@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap");

.PointPage-container {
  position: absolute;
  color: #3d4a61;
  height: 80px;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  width: calc(100vw - 40px);
  top: 3vw;
}

.PointPage-back {
  position: absolute;
  font-family: "Roboto Mono", monospace;
  color: #3d4a61;
  font-size: 1.5vw;
  height: 3.5vw;
  top: 20px;
  left: 20px;
  font-weight: 1000;
  min-width: 8vw;
  border-radius: 50px;
  border-style: solid;
  border-width: 4px;
  border-color: #3d4a61;
  cursor: pointer;
  z-index: 3;
  background-color: white;
}

.PointPage-box {
  height: 60vh;
  margin: 0vw 12vw;
  outline-style: solid;
  outline-color: #3d4a61;
  outline-width: 8px;
  text-align: left;
  padding: 30px;
  border-radius: 50px;
  overflow-y: scroll;
  overflow-x: clip;
  background-color: white;
}

p.indent {
  margin-left: 30px;
}