@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');

.ResultScene-container {
    position: absolute;
    font-family: "Cute Font", monospace;
    color: #3d4a61;
    padding: 0px 80px;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    width: 1400px;
    height: 1000px;
    top: 0px;
    left:0px;
    font-size: 50px;
    background-color: rgb(201, 203, 221);
    z-index: 100;
}

.ResultScene-button {
    position: absolute;
    font-family: "Cute Font", monospace;
    color: #3d4a61;
    font-size: 36px;
    top: 570px;
    left: 720px;
    height: 60px;
    font-weight: 1000;
    min-width: 120px;
    border-radius: 50px;
    border-radius: 50px;
    border-style: solid;
    border-width: 4px;
    border-color: #3d4a61;
    cursor: pointer;
    background-color: white;
    z-index: 101;
}

.ResultScene-image {
    position: absolute;
    left: 430px;
    top: 140px;
    width: 667.2px;
    height: 500.4px;
}

.ResultScene-avatar {
    z-index: 20;
}

.ResultScene-helmet {
    z-index: 23;
}

.ResultScene-sword {
    z-index: 24;
}

.ResultScene-shield {
    z-index: 25;
}

.ResultScene-armor {
    z-index: 22;
}

.ResultScene-boots {
    z-index: 21;
}