@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');

.StartScreen-container {
  position: absolute;
  font-family: "Cute Font", monospace;
  color: #3d4a61;
  top: 20px;
  height: 80px;
  width: 1000px;
  padding: 20px;
  background-color: rgb(201, 203, 221);
}

.StartScreen-login {
  position: absolute;
  font-family: "Roboto Mono", monospace;
  font-weight: 100px;
  color: #3d4a61;
  height: 40px;
  width: 80px;
  left: 1400px;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: #3d4a61;
  top: 20px;
  opacity: 100%;
  z-index: 100;
  z-index: 100;
  background-color: white;
  cursor: pointer;
}

.StartScreen-body {
  position: absolute;
  text-align: center;
  margin: auto;
  width: 1536px;
  font-size: 56px;
  font-weight: 1000;
  top: 400px;
}

.StartScreen-button {
  font-family: "Cute Font", monospace;
  color: #3d4a61;
  font-size: 40px;
  height: 60px;
  font-weight: 2000;
  width: 300px;
  border-radius: 50px;
  border-width: 4px;
  border-style: solid;
  border-color: #3d4a61;
  margin: 1.25vw 0vw;
  cursor: pointer;
  background-color: white;
}

.StartScreen-title {
  position: absolute;
  left: 310px;
  top: -130px;
  width: 867.4px;
  height: 650.5px;
  z-index: 0;
}

.textAlign{
  text-align: center;
}

.textAlign-play {
  position: absolute;
  left: 380px;
  z-index: 30;
  display: flex
}

.textAlign-achieve {
  position: absolute;
  left: 380px;
  top: 120px;
  z-index: 12;
  display: flex
}

.textAlign-rules {
  position: absolute;
  left: 780px;
  z-index: 80;
  display: flex
}

.textAlign-points {
  position: absolute;
  left: 780px;
  top: 120px;
  z-index: 14;
  display: flex
}