@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');

.ItemTrade-container {
    padding: 5px;
}

.ItemTrade-tradeButton {
    position: relative;
    font-family: "Cute Font", monospace;
    top: 20px;
    margin: 0vw 30px;
    text-align: left;
    width: 400px;
    height: 65px;
    padding: 20px;
    border-radius: 50px;
    border-width: 2px;
    border-style: solid;
    border-color: #3d4a61;
    font-weight: 1000;
    font-size: 26px;
    background-color: white;
    color: #3d4a61;
}

.ItemTrade-untradeButton {
    position: relative;
    font-family: "Cute Font", monospace;
    top: 20px;
    margin: 0vw 30px;
    text-align: left;
    width: 400px;
    height: 65px;
    padding: 20px;
    border-style: solid;
    border-radius: 50px;
    border-width: 4px;
    border-color: #3d4a61;
    font-weight: 1000;
    font-size: 26px;
    background-color:  rgb(201, 203, 221);
    color: #3d4a61;
}

.ItemTrade-container:focus {
    background-color: rgb(150, 150, 150);
}