@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');

.ItemDisplay-container {
    padding: 5px;
}

.ItemDisplay-itembox {
    position: relative;
    top: 20px;
    margin: 0vw 30px;
    outline-style: solid;
    outline-color: #3d4a61;
    text-align: left;
    padding: 15px;
    border-radius: 50px;
    border-width: 3px;
    color: #3d4a61;
    font-weight: 1000;
    font-size: 18px;
    background-color: rgb(224, 225, 238);
}