@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap");

.LobbyBlock-container {
    padding: 5px;
}

.LobbyBlock-lobby {
    position: relative;
    font-family: "Roboto Mono", monospace;
    top: 20px;
    left: -5px;
    height: 80px;
    width: calc(76vw - 100px);
    margin: 0vw 30px;
    text-align: left;
    padding: 25px;
    border-radius: 50px;
    border-style: solid;
    border-width: 3px;
    border-color: #3d4a61;
    color: #3d4a61;
    font-weight: 1000;
    font-size: 18px;
    background-color: rgb(224, 225, 238);
}