@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap");

.PointManual-container {
  position: absolute;
  font-family: "Roboto Mono", monospace;
  margin: auto;
  top: 50px;
  height: calc(100vh - 150px);
  width: calc(100vw - 200px);
  text-align: center;
  padding: 25px;
  border-radius: 50px;
  color: #3d4a61;
  font-weight: 1000;
  font-size: 18px;
  background-color: rgb(239, 239, 239);
  z-index: 50;
}

.PointManual-title {
  font-size: 48px;
}

.PointManual-body {
  text-align: left;
  font-size: 40px;
  padding: 50px;
  height: 475px;
  overflow: scroll;
}

.PointManual-closeButton {
  position: relative;
  font-family: "Roboto Mono", monospace;
  color: white;
  background-color: rgb(153, 153, 153);
  font-size: 18px;
  height: 60px;
  font-weight: 1000;
  min-width: 120px;
  /* margin: 30px 1vw;  */
  border-radius: 50px;
  border-color: rgb(153, 153, 153);
  cursor: pointer;
}

p.indent {
  margin-left: 30px;
}
