@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');

.TradeModal-container {
    position: absolute;
    font-family: "Cute Font", monospace;
    left: calc((110vw - 500px)/2 - 25px);
    top: 120px;
    height: calc(90vh - 100px);
    width: 750px;
    text-align: center;
    padding: 25px;
    border-radius: 50px;
    color: #3d4a61;
    font-weight: 1000;
    font-size: 18px;
    background-color: rgb(224, 225, 238);
    z-index: 50;
}

.TradeModal-text {
    font-size: 24px;
}

.TradeModal-items {
    text-align: center;
}

.TradeModal-tradeButton {
    position: relative;
    font-family: "Cute Font", monospace;
    color: #3d4a61;
    background-color: white;
    font-size: 18px;
    top: 40px;
    height: 60px;
    font-weight: 1000;
    min-width: 120px;
    /* margin: 30px 1vw;  */
    border-radius: 50px;
    border-width: 4px;
    border-color: #3d4a61;
    cursor: pointer;
}

.TradeModal-back {
    position: absolute;
    left: 740px;
    top: 20px;
    color: white;
    background-color: #3d4a61;
    height: 40px;
    width: 40px;
    border-style: solid;
    border-radius: 50px;
    border-color: #3d4a61;
    font-size: 36px;
    cursor: pointer;
}