@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');

.TutorialModal-container {
    position: absolute;
    font-family: "Cute Font", monospace;
    left: calc((100vw - 500px)/2 - 80px);
    top: 50px;
    height: 300px;
    width: 500px;
    text-align: center;
    padding: 25px;
    border-radius: 50px;
    border-style:solid;
    border-width: 4px;
    border-color: #EDBBCE;
    color: #3d4a61;
    font-weight: 1000;
    font-size: 18px;
    background-color: white;
    z-index: 1005;
}

.TutorialModal-1 {
    top: 150px
}

.TutorialModal-2 {
    top: -5%;
    left: 120%;
}

.TutorialModal-3 {
    width: 450px;
    top: 0%;
    left: -65%;
}

.TutorialModal-5 {
    width: 450px;
    top: -200%;
    left: -65%;
}

.TutorialModal-6 {
    top: -500%;
    left: -30%;
}

.TutorialModal-7 {
    top: 120%;
    left: 0%;
}

.TutorialModal-8 {
    top: 120%;
    left: -40%;
}

.TutorialModal-9 {
    width: 450px;
    top: 100px;
    left: 10px
}

.TutorialModal-11 {
    top: 150px;
    left: 700px
}

.TutorialModal-blackout2 {
    position: absolute;
    width: 350px;
    height: 330px;
    top: 260px;
    left: 130px;
    z-index: 100;
    box-shadow: 0 0 0 10000px rgba(0, 0, 0, .7);
    border-radius: 50px;
}

.TutorialModal-blackout3 {
    position: absolute;
    width: 810px;
    height: 350px;
    top: 120px;
    left: 560px;
    z-index: 100;
    box-shadow: 0 0 0 10000px rgba(0, 0, 0, .7);
    border-radius: 30px;
}

.TutorialModal-blackout5 {
    position: absolute;
    width: 810px;
    height: 80px;
    top: 460px;
    left: 560px;
    z-index: 100;
    box-shadow: 0 0 0 10000px rgba(0, 0, 0, .7);
    border-radius: 30px;
}

.TutorialModal-blackout6 {
    position: absolute;
    width: 350px;
    height: 80px;
    top: 610px;
    left: 790px;
    z-index: 100;
    box-shadow: 0 0 0 10000px rgba(0, 0, 0, .7);
    border-radius: 30px;
}

.TutorialModal-blackout7 {
    position: absolute;
    width: 180px;
    height: 70px;
    top: 25px;
    left: 35px;
    z-index: 100;
    box-shadow: 0 0 0 10000px rgba(0, 0, 0, .7);
    border-radius: 20px;
}

.TutorialModal-blackout8 {
    position: absolute;
    width: 405px;
    height: 60px;
    top: 10px;
    left: 1120px;
    z-index: 100;
    box-shadow: 0 0 0 10000px rgba(0, 0, 0, .7);
    border-radius: 30px;
}

.TutorialModal-nextbutton {
    position: relative;
    color: #EDBBCE;
    font-weight: 1000;
    font-size: 16px;
    border-radius: 10px;
    border-style:solid;
    border-width: 3px;
    border-color: #EDBBCE;
    background-color: #fff4f8;
    cursor: pointer;
}

.TutorialModal-nextbutton1 {
    position: absolute;
    top: 300px;
    left: 480px;
}

.TutorialModal-nextbutton2 {
    position: absolute;
    top: 300px;
}

.TutorialModal-nextbutton3 {
    position: absolute;
    top: 300px;
    left: 440px;
}

.TutorialModal-nextbutton5 {
    position: absolute;
    top: 300px;
    left: 440px;
}

.TutorialModal-nextbutton6 {
    position: absolute;
    top: 300px;
    left: 480px;
}

.TutorialModal-nextbutton7 {
    position: absolute;
    top: 300px;
    left: 480px;
}

.TutorialModal-nextbutton8 {
    position: absolute;
    top: 300px;
    left: 490px;
}