@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap");

.TutorialModal-container {
    position: absolute;
    font-family: "Roboto Mono", monospace;
    left: calc((100vw - 500px)/2 - 80px);
    top: 50px;
    height: 300px;
    width: 500px;
    text-align: center;
    padding: 25px;
    border-radius: 50px;
    color: BLACK;
    font-weight: 1000;
    font-size: 18px;
    background-color: rgb(239, 239, 239);
    z-index: 1005;
}